* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "NotoSans JP", sans-serif;
}

body {
  padding-bottom: 5rem;
}

.made-for-mobile {
  display: none;
}

@media only screen and (min-width: 460px) {
  .body {
    display: none;
  }

  .made-for-mobile {
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
    margin: 1rem auto;
  }
}
